version: '3.8'

services:
  db:
    image: postgres:15.0-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    ports:
      - "5432:5432"
    env_file:
      - ./.env
  redis:
    image: redis:7
    ports:
      - "6379:6379"
  
  backend:
    build: .
    restart: always
    depends_on:
      - db
      - redis
    env_file:
      - ./.env
    ports:
      - "8000:8000"
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload

  worker:
    build: .
    user: "1001:1001"
    command: celery -A app.celery_app.app worker --loglevel=info
    volumes:
      - .:/app
    depends_on:
      - redis
      - db
    
  beat:
    build: .
    command: celery -A app.celery_app.app beat --loglevel=info
    volumes:
      - .:/app
    depends_on:
      - redis
      - db

volumes:
  postgres_data: